.contenedor{
display: flex;
flex-direction: column;
width: 100%;

    .container{
    display: flex;
    width: 100%;
    
         .container-2{
            display: flex;
            margin-left:0;
            padding:0;
         
        
                img{
                border-radius: 20px;
                width: 300px;
                height: 200px;
                margin: 10px;
                
            }
        }   
    }
}
.container-multimedia{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
   
    .multimedia{
        display: flex;
       
        
    }
    .perfil{
     text-align: center;
     margin:0;
     width: 350px;

     .sobre p{
          margin-left: 10px;
         
         background-color:pink;
         font-family: "IBM Plex Mono", monospace;
        } 
        .foto{
        border-radius: 100px;
        width: 200px;
        height: 200px;
        }
      
        .contenido{
        
        height: 300px;
         .text{
            color:grey;
            font-family: "IBM Plex Mono", monospace;
            font-size: 0.7rem;
         }
        }
    }
}