.contenedor{

display: flex;
justify-content: center;
margin-left: 70px;
    .container{
    display: flex;
    width: 100%;
         .container-2{
            display: flex;
            width: 100%;
            margin-left:0;
            padding:0;
            justify-items: center;
        
                img{
                border-radius: 20px;
                width: 350px;
                height: 225px;
                margin: 0;
                }
            }   

.container-multimedia{
    display: flex;
    
    .multimedia{

        
    }
}        
    

