body {
  margin: 0;
  padding: 0;
}

header nav {
  display: block;
}
header nav ul {
  list-style: none;
}
header nav .link {
  padding: 0.5rem 1rem;
  font-family: "IBM Plex Mono", monospace;
  color: gray;
  text-decoration: none;
}
header nav .link:hover {
  color: peru;
}
header nav .title {
  font-family: "Indie Flower", cursive;
  color: peru;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
}
header nav .navigation-list {
  display: flex;
  justify-content: center;
}
header nav .navigation-list .navigation-item .link-home {
  color: peru;
  padding: 0.5rem 1rem;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
}
header nav .dropdown-container {
  position: relative;
}
header nav .dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
}
header nav .dropdown-container .dropdown-content .link {
  background-color: aliceblue;
  padding: 0.5rem 1rem;
  display: block;
  margin-left: 0;
}
header nav .dropdown-container:hover .dropdown-content {
  display: block;
}

.top-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10rem;
}
.menu .menu-link {
  margin-right: 0.5rem;
}
.menu .menu-link .top-link {
  font-family: "IBM Plex Mono", monospace;
  color: black;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
}
.menu .menu-link .top-link-grey {
  color: grey;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  font-size: 0.7rem;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.container .main {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}
.container .main .imagen img {
  width: 350px;
  height: 450px;
  margin: 4px;
  text-align: center;
}
.container .main .imagen {
  margin: 0;
  overflow: hidden;
  float: left;
  position: relative;
}
.container .main .imagen a {
  text-decoration: none;
  float: left;
}
.container .main .imagen a:hover {
  cursor: pointer;
}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contenedor .container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contenedor .container .container-2 {
  display: flex;
  margin-left: 0;
  padding: 0;
}
.contenedor .container .container-2 img {
  border-radius: 20px;
  width: 350px;
  height: 225px;
  margin: 0;
}

.container-multimedia {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 150px;
  margin-left: 180px;
  width: 900px;
}
.container-multimedia .multimedia {
  display: flex;
}
.container-multimedia .perfil {
  text-align: center;
  margin: 0;
  width: 450px;
}
.container-multimedia .perfil .sobre p {
  margin-left: 10px;
  width: 450px;
  background-color: peru;
  font-family: "IBM Plex Mono", monospace;
}
.container-multimedia .perfil .foto {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}
.container-multimedia .contenido {
  width: 450px;
  height: 315px;
}
.container-multimedia .contenido .text {
  color: grey;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
